body{
    height: 100%;
}
.font{
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

.navbar{
    margin: 0 !important; 
}

.navbar ul li a{
    color: whitesmoke !important;
}

.navbar ul li a:hover{ 
    color: #58F86F !important;
}

#logo_brand{
    margin-top: -10px;
    margin-left: 10px; 
    height: 40px;
    width: 40px;
}

#section-1__h1{
    position: relative;
    padding-top: 5%;
    text-align: center;
    color:whitesmoke;
}

#hr{
   text-align: center; 
   width: 14%; 
   color:gray;
}

#section-1__h2{
    text-align: center;
    position: relative;
    color:whitesmoke;
    z-index: 2;
}

#form{
    position: relative;
    z-index: 2;
    color: whitesmoke;
    width: 100%;
    padding-left: 2%;
    padding-top: 3%;
}
#form:after {
    content:'';
    position: absolute;
    top:0px;
    left: 0px;
    width:100%;
    height:100%;
    z-index: -1;
    background-color:#222222;
    border: 1px solid black;
    opacity: 0.8;
}

#form input, #form textarea{
    background-color: black;
}

#button:hover{
    color: #58F86F !important;
}

#brand{
    height: 200px;
    width: 210px;
    margin-bottom: 10px;
}

#list ul{
    position: relative;
    margin-top:15%;
    text-align: center;
    list-style-type: none;
    color: #f5f5f5 ;
}

#input__first-name, #input__last-name, #input__email, #input__textarea, #input__company{
    color: #58F86F;
}

.social-media{
    width: 36px;
    height: 36px;
    font-size:25px;
    margin: 10px; 
    border: 2px solid #23527c;
    border-radius: 50%;
}

.social-media:hover{
    color: black;
    background: white;
    border: 2px solid black;
}

#footer_rights{
    text-align: center;
    margin-top: 5%;
    color: whitesmoke;
    font-size: 22px;
}
/* Background */

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
    width:100%;
    height:100%;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  background-attachment: fixed;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

/* Adjust to Cellphone Size*/

@media only screen and (max-width: 480px){
    #section-1__h1{
        padding-top: 15%;
    }

    #hr{
        width: 45%;
    }   

    #list ul{
        margin-top: 10%;
        padding: 0;
    }

}