body{
    height: 100%;
}
.font{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    margin : 0 !important; 
}

.navbar ul li a{
    color: whitesmoke !important;
}

.navbar ul li a:hover{ 
    color: #58F86F !important;
}

#dive_in{
    color: white;
    margin: 0% 45%;
    width: 10%;
    font-size:14px;
}

#arrow_down{
    color: white;
    margin: 0.5% 46%;
    height: 15px;
}

#logo_brand{
    margin-top: -10px;
    margin-left: 10px; 
    height: 40px;
    width: 40px;
}

#head_name{
    width: 60%;
    margin: 17% 20%;
}

#section-1 h2{
    margin-top: 30px;
    text-align: center;
}

#section-2__head{
    color:whitesmoke;
    text-align: center;
}

.section2__img_logo{
    position: relative;
    z-index: 2;
    margin-top: 5%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 30%;
}

#section-2__pic_1:after, #section-2__pic_2:after, #section-2__pic_3:after{
    content:'';
    position: absolute;
    top:0px;
    left: 0px;
    width:100%;
    height:100%;
    z-index: 1;
    background-color:#222222;
    border: 1px solid black;
    opacity: 0.8;
}

#section-2__pic_1:hover, #section-2__pic_2:hover, #section-2__pic_3:hover {
    border: 1px solid #58F86F;
    transform: scale(1.1);
}

.section-2__text_1{
    position: relative;
    color:whitesmoke;
    text-align: center;
    z-index: 2;
}

#section-2__pic_1{
    margin-top: 5%;
    margin-left: 12%;
    width: 22%;
    height: 350px;
}

#section-2__pic_2{
    margin-top: 5%;
    margin-left: 5%;
    width: 22%;
    height: 350px;
}


#section-2__pic_3{
    margin-top: 5%;
    margin-left: 5%;
    width: 22%;
    height: 350px;
}

.section-2__head-3{
    position: relative;
    z-index: 2;
    text-align: center;
    color: #0CA8FC;
}

.section-2__head-4{
    position: relative;
    z-index: 2;
    color:whitesmoke;
    text-align: center;
}

#section-3__head {
    margin-top: 7%;
    margin-left: 5%;
    color:whitesmoke;
}

#section-3__head__2{
    margin-left: 5%;
    color:whitesmoke;
    margin-top: 10%;
}

#section-4_head {
    margin-left: 5%;
    color:whitesmoke;
    margin-top: 10%;
}

#Carousel{
    height: 450px;
    width: 100%;
}
.img_story:hover {
    border: 2px solid #58F86F;
    filter: grayscale(0%);
}

.img_story{
    background-color: #454746;
    margin-top: 40px;
    margin-left: 8%;
    float: left;
    width: 20%;
    height: 350px;
    filter: grayscale(100%);
    transition: 0.5s;
}

#img_story__first_pic-1, #img_story__first_pic-2{
    margin-left: 12% !important;
}

.img_story img {
    width: 100%;
    height: 60%;
}

.img_story__label{
    margin-left: 20px;
    margin-top: 10px;
    color: #d9d9d9;
}

.img_story__label__2{
    margin-left: 20px;
    margin-top: 5px;
    color: #d9d9d9;
}
#arrow_1{
    margin-top: -5% !important;
    width: 65px !important;
    height: 70px !important;
}

#arrow_2{
    margin-top: -5% !important;
    width: 65px !important;
    height: 70px !important;
}

#arrow_3{
    margin-top: -10% !important;
    width: 65px !important;
    height: 70px !important;
}

#arrow_4{
    margin-top: -5% !important;
    width: 65px !important;
    height: 70px !important;
}

#arrow_5{
    margin-top: -10% !important;
    width: 65px !important;
    height: 70px !important;
}

#item_added_quote{
    text-align: center; 
    color:  whitesmoke;
}

.clients{ 
    margin-top: -5%;
    height: 50%;
    width: 25%;   
}

#phrases{
    margin-top: -7%;
    margin-left: 15%;
    text-align: center;
}

#quote{
    width:5%;
    height: 5%;
}

.quotes{
    font-style: italic;
    color:whitesmoke;
    font-size: 18px;
    display: none;
}

#hr_1{
    margin-top: 10%;
    width: 80%;
    color:grey;
}
#section-5__head{
    color: whitesmoke;
    text-align: center;
    margin-top: 10%;
}

#section-5__text-1{
    margin-top: 3%;
    width: 35%;
    margin-left: 5%;
    color:whitesmoke;
    text-align: center;
    font-size: 25px;
}

#section-5__text-2{
    margin-top: 5%;
    width: 35%;
    margin-left: 5%;
    color:whitesmoke;
    text-align: center;
    font-size: 25px;
}

#section-5_decisions{
    margin-left: 15%;
}

#list__foooter ul{
    position: relative;
    margin-top:8%;
    width: 100%;
    height: 30%;
    text-align: center;
    list-style-type: none;
    background-color: black;
    color: #f5f5f5 ;
}

.social-media{
    display: inline-block;
    width: 36px;
    height: 36px;
    font-size:23px;
    margin: 0% 0% 0% 0.5%; 
    border: 2px solid #23527c;
    border-radius: 50%;
}

.social-media:hover{
    color: black;
    background: white;
    border: 2px solid black;
}

#footer_rights{
    display: inline-block;
    font-size: 20px;
}

#vertical_flip{
    display: inline;
	text-indent: 8px;
}

#vertical_flip span{
    animation: vertical 12.5s linear infinite 0s;
	-ms-animation: vertical 12.5s linear infinite 0s;
	-webkit-animation: vertical 12.5s linear infinite 0s;
	color: #E60DB8;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}

#vertical_flip  span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}

#vertical_flip  span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}

#vertical_flip span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;

}

/*Vertical Flip Animation*/
@-moz-keyframes vertical{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: rotateX(180deg); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0;}
}
@-webkit-keyframes vertical{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: rotateX(180deg); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes vertical{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: rotateX(180deg); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}


#black_hole{   
    position: absolute;
    height: 500px;
    width: 450px;
    right: 5%;
    margin-right: 15%;
    margin-top: -30%;
    z-index:1;
   -webkit-animation: rotation 8s infinite linear;
}

#spaceman{
    position: absolute;
    height: 400px;
    margin-top: -25%;
    margin-left: 55%;
    z-index:2;
}

@-webkit-keyframes rotation {
    from {
         -webkit-transform: rotate(0deg);
    }
    to {
         -webkit-transform: rotate(359deg);
    }
}

/* Background */

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
    width:100%;
    height:100%;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  background-attachment: fixed;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

/* Adjust to Cellphone Size*/

@media only screen and (max-width: 480px) {
    #section-2__head{
        font-size: 15px;
    }

    #dive_in{
        font-size:10px;
    }

    #section-2__pic_1,  #section-2__pic_2,  #section-2__pic_3{
        position: relative;
        margin-top: 5%;
        margin-left: 10%;
        width: 20%;
        height: 60%;
    }

    .section2__img_logo{
        margin-top: 25%;
        height: 100%;
        width: 70%;
        margin-bottom: 20%;
    }

    .section-2__head-3{
        margin-top: 5%;
        font-size: 10px;
    }

    .section-2__head-4{
        margin-top: 5%;
        font-size: 10px;
    }

    .section-2__text_1{
        font-size: 9px;
    }

    #Carousel{
        margin-top: 5%;
        height: 250px;
    }

   .glyphicon-chevron-left, .glyphicon-chevron-right{
       font-size: 15px !important;
   }

    .item{
        margin-left: 8%;
        margin-top: 5%;
    }

    #section-3__head{
        position: relative;
        margin-top: 10%;
        font-size: 13px;
    } 

    .img_story{
        margin-top: 2%;
        margin-left: 3%;
        width: 90px;
        height: 180px;
    }

    #img_story__first_pic-1, #img_story__first_pic-2{
        margin-left: 3% !important;
    }

    .img_story__label{
        font-size: 9px;
        margin-left: 5%;
        margin-bottom: 0%;
    }

    .img_story__label__2{
        font-size: 6px;
        margin-top: 3%;
        margin-left: 5%;
        margin-bottom: 0%;
    }
    #arrow_1, #arrow_4 {
        margin-left: -5%;
        margin-top: -10% !important;
        height: 30px !important;
        width: 40px !important;
     }

     #arrow_2{
        margin-left: -5%;
        margin-top: -10% !important;
        height: 30px !important;
        width: 40px !important;
     }

     #arrow_3{
        margin-left: -5%;
        margin-top: -10% !important;
        height: 30px !important;
        width: 40px !important;
     }

     #arrow_5{
        margin-left: -5%;
        margin-top: -8% !important;
        height: 30px !important;
        width: 40px !important;
     }


    #section-3__head__2, #section-4_head, #item_added_quote{
        font-size: 12px;
    }

    .quotes{
        margin-left: 15%;
        font-size: 8px;
    }

    .clients{
        margin-top: -15%;
    }

    #section-5__head{
        font-size: 13px;
    }

    #section-5_decisions{
        margin-left: 22%;
    }

    #section-5__text-1{
        margin-left: 6%;
        margin-top: 10%;
        font-size: 9px;
    }

    #section-5__text-2{
        margin-left: 6%;
        font-size: 9px;
    }
   
    #black_hole{
        margin-top: -35%;
        margin-right: 10%;
        height: 20%;
        width: 30%;
    }

    #spaceman{
        margin-top: -35%;
        margin-right: 25%;
        height: 20%;
        width: 30%;
    }

    #footer_rights{
        font-size: 8px;
    }

    .social-media{
        margin-left: 2%;
        margin-right: 0%;
        width: 12%;
        height: 10%;
    }

}

/* Adjust for Pixel 2*/
@media only screen and (min-width : 411px) and (max-width: 823px){
    .img_story{
        margin-left: 5%;
    }
}

/* Adjust for IPhone 5/SE*/
@media only screen and (width: 320px) and (height: 568px) and (-webkit-min-device-pixel-ratio: 2){
    #head_name{
        margin-top: 25%;
    }

    #dive_in{
        font-size: 10px;
        width: 15%;
    }

    .glyphicon-chevron-left, .glyphicon-chevron-right{
        font-size: 12px !important;
    }

    .img_story{
        width: 80px;
        height: 180px;
        margin-left: 3%;
    }
   
    .img_story__label{
        font-size: 8px;
        margin-left: 5%;
        margin-bottom: 0%;
        margin-top: 5%;
    }

    .img_story__label__2{
        font-size: 6px;
        margin-left: 5%;
        margin-bottom: 0%;
        margin-top: 5%;
    }

    #section-5__head{
        font-size: 10px;
        margin-left: 10%;
        width: 80%;
    }

    #arrow_1, #arrow_4 {
        margin-left: -5%;
        margin-top: -5% !important;
        height: 30px !important;
        width: 40px !important;
     }

     #arrow_2{
        margin-left: -5%;
        height: 30px !important;
        width: 40px !important;
     }

     #arrow_3{
        margin-left: -5%;
        margin-top: -5% !important;
        height: 30px !important;
        width: 40px !important;
     }

     #arrow_5{
        margin-left: -5%;
        margin-top: -8% !important;
        height: 30px !important;
        width: 40px !important;
     }


    #black_hole{
        margin-top: -50%;
        margin-right: 8%;
        height: 30%;
        width: 45%;
    }

    #spaceman{
        margin-top: -50%;
        margin-right: 25%;
        height: 30%;
        width: 30%;
    } 
}

/* Adjust to Ipad Size*/
@media only screen and (min-width : 768px) and (max-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    #section-2__pic_1, #section-2__pic_2, #section-2__pic_3{
        width: 27%;
        margin-left: 5%;
    }

    #img_story__first_pic-1, #img_story__first_pic-2{
        margin-left: 10% !important;
    }

    .img_story__label{
        font-size: 14px;
        margin-left: 5%;
        margin-bottom: 0%;
    }

    .img_story__label__2{
        font-size: 13px;
        margin-top: 3%;
        margin-left: 5%;
        margin-bottom: 0%;
    }

    .img_story{
        margin-left: 4%;
        width:185px;
        height: 340px;
    }

    .section2__img_logo{
        width: 50%;
    }

    .clients{
        margin-top: -10%;
    }

    #section-2__head , #section-3__head, #section-3__head__2, #section-4_head, #section-5__head{
        font-size: 25px;
    }

    .quotes{
        margin-left: 5%;
        font-size: 15px;
    }
    
    #black_hole{
        margin-top: -40%;
        margin-right: 10%;
        height: 25%;
        width: 35%;
    }

    #spaceman{
        margin-top: -40%;
        margin-right: 25%;
        height: 30%;
        width: 30%;
    }    
}

/* Adjust to Ipad ProSize*/
@media only screen and (min-width: 834px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2){
    .section2__img_logo{
        width: 50%;
        height: 40%;
    }

    .img_story{
        margin-left: 8% !important;
        width: 21%;
    }

    #img_story__first_pic-1,   #img_story__first_pic-2{
        margin-left: 17%;
    }

    #black_hole{
        margin-top: -30%;
        margin-right: 10%;
        height: 25%;
        width: 35%;
    }

    #spaceman{
        margin-top: -30%;
        margin-right: 30%;
        height: 30%;
        width: 30%;
    } 

}