.font{
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

.navbar{
    margin : 0 !important; 
}

.navbar ul li a{
    color: whitesmoke !important;
}

.navbar ul li a:hover{ 
    color: #58F86F !important;
}

.navbar.change{
    background-color: rgba(255, 255, 255, 0.164);
    transition: all ease .5s;
}

.navbar.change:hover{
   background-color: #000;
}

#logo_brand{
    margin-top: -10px;
    margin-left: 10px; 
    height: 40px;
    width: 40px;
}

#header_1{
    padding-top: 5%;
    color:whitesmoke;
    text-align: center;
}

#hr_1{
    text-align: center; 
    width: 25%;
    color:gray;
}

#hr_2{
    text-align: center; 
    width: 86%; 
    color:gray; 
    margin-bottom: 5%;
}

.header__2{
    z-index: 2;
    position: relative;
    text-align: center;
    color: #58F86F; 
}

#products{
    text-align: center;
}

#item_with_pic_1 {
    margin-top: 3%;
    margin-left: 8%;
    height: 350px;
    text-align: center;
    background: #000;
}

.item_with_pic_2 {
    margin-top: 3%;
    margin-left: 5%;
    height: 350px;
    text-align: center;
    background: #000;
}

#product_img_1{
    position: relative;
    z-index: 2;
    margin-top: 15%;
    height: 23%;
    width: 30%;
}

#product_img_2{
    position: relative;
    z-index: 2;
    margin-top: 15%;
    height: 23%;
    width: 36%;
}

#product_img_3{
    position: relative;
    z-index: 2;
    margin-top: 15%;
    height: 20%;
    width: 30%;
}

.item_with_pic_2:after, #item_with_pic_1:after {
    content:'';
    position: absolute;
    top:0px;
    left: 0px;
    width:100%;
    height:100%;
    z-index: 1;
    background-color:#222222;
    border: 1px solid black;
    opacity: 0.8;
}

.text{
    position: relative;
    z-index: 2;
    text-align: center;
    color:whitesmoke;
    font-size: 15px;
}

#section-2__head {
    margin-left: 5%;
    color:whitesmoke;
}

.owl-dot{
    display: none !important;
}

.fa-chevron-left, .fa-chevron-right{
    margin-top: 10px;
    color:whitesmoke;
    font-size: 18px;
}

.img_story:hover {
    border: 2px solid #58F86F;
    filter: grayscale(0%);
}

.item:first-child {
    margin-left: 15%;
}

.img_story{
    background-color: #454746;
    width: 260px;
    height: 360px;
    filter: grayscale(100%);
    transition: 0.5s;
}

.img_story img {
    width: 100%;
    height: 60%;
}

.img_story__label{
    float: left;
    margin-left: 20px;
    color:whitesmoke;
}

.img_story__label__2{
    float: left;
    margin-top: -1%;
    margin-left: 20px;
    color: #d9d9d9;
}

#arrow_1{
    margin-left:  -87% !important;
    margin-top: 35% !important;
    width: 65px !important;
    height: 70px !important;
}

#arrow_2{
    margin-top: 35% !important;
    margin-left:  -100% !important;
    width: 65px !important;
    height: 70px !important;
}

#arrow_3{
    margin-top: 35% !important;
    margin-left:  -77% !important;
    width: 65px !important;
    height: 70px !important;
}

#arrow_4{
    margin-top: 35% !important;
    margin-left:  -87% !important;
    width: 65px !important;
    height: 70px !important;
}

#arrow_5{
    margin-top: -10% !important;
    width: 65px !important;
    height: 70px !important;
}

#list__foooter ul{
    position: relative;
    margin-top:5%;
    width: 100%;
    height: 30%;
    text-align: center;
    list-style-type: none;
    background-color: black;
    color: #f5f5f5 ;
}

.social-media{
    display: inline-block;
    width: 36px;
    height: 36px;
    font-size:23px;
    margin: 0% 0% 0% 0.5%; 
    border: 2px solid #23527c;
    border-radius: 50%;
}

.social-media:hover{
    color: black;
    background: white;
    border: 2px solid black;
}

#footer_rights{
    display: inline-block;
    font-size: 20px;
}

/* Background */

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
    width:100%;
    height:100%;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  background-attachment: fixed;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

/*  Adjust for Cellphones */
@media only screen and (max-width: 680px) {
    #header_1{
        font-size:12px;
        margin-top: 20%;
    }

    #item_with_pic_1{
        margin-left: 5%;
        height: 80%;
        width: 26%;
    }

    .item_with_pic_2{
        height: 80%;
        width: 26%;
    }

    #product_img_1{
        margin-top: 12%;
        width: 45%;
        height: 15%;
    }

    #product_img_2{
        margin-top: 10%;
        width: 55%;
        height: 15%;
    }

    #product_img_3{
        margin-top: 15%;
        width: 50%;
        height: 15%;
    }
    
    .item:first-child {
        margin-left: 25%;
    }

    .img_story{
        height: 160px;
        width: 70px;
    }

    .item_with_pic_2:after{
        margin-left: 5%;
        height: 220px;
    }
    
    #item_with_pic_1:after {
        height: 220px;
    }

    .header__2{
        margin-top: 10%;
        font-size: 10px;
    }

    .text{
        font-size: 9px;
    }

    #hr_2{
        margin-top: 10%;
    }

    #section-2__head{
        font-size:12px;
        margin-left: 10%;
    }

    #arrow_1, #arrow_2,  #arrow_4{
        margin-top: -30% !important;
        margin-left: -5% !important;
        height: 20px !important;
        width: 30px !important;
     }

     #arrow_3{
        margin-top: -43% !important;
        margin-left: -5% !important;
        height: 20px !important;
        width: 30px !important;
     }

     #arrow_5{
        margin-left: -43%;
        margin-top: -5% !important;
        height: 20px !important;
        width: 30px !important;
     }

    .img_story__label{
        font-size: 7px;
        margin-top: 4%;
        margin-left: 5%;
    }

    .img_story__label__2{
        font-size: 6px;
        margin-top: -10%;
        margin-left: 5%;
    }

    #footer_rights{
        font-size: 60%;
        margin-left: -10%;
    }

    .social-media{
        margin-left: 2%;
        margin-right: 0%;
        width: 10%;
        height: 15%;
    }

    #list__foooter li i{
        font-size: 80%;
    }
}

/*  Adjust for Ipads */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    #header_1, #section-2__head{
        margin-top: 5%;
        font-size: 22px;
    }

    #item_with_pic_1{
        margin-left: 7%;
    }

    #item_with_pic_1, .item_with_pic_2{
        height: 250px;
    }
    
    #product_img_1{
        margin-top: 10%;
        width: 23%;
        height: 20%;
    }

    #product_img_2{
        margin-top: 8%;
    }

    #product_img_3{
        margin-top: 10%;
    }

    .header__2{
        font-size: 17px;
    }

    #header__2__dig-transform{
        margin-top: 12%;
    }

    .text{
        font-size: 11px;
    }

    .item {
        margin-left: 5%;
    }
    .item:first-child {
        margin-left: 20%;
    }

    .img_story{
        height: 280px;
        width: 140px;
    }

    .img_story img{
        height: 53%;
    }

    .img_story__label{
        font-size: 12px;
        margin-top: 8%;
        margin-left: 10%;
    }

    .img_story__label__2{
        font-size: 10px;
        margin-left: 10%;
    }

    #arrow_1 {
        margin-top: -10% !important;
        margin-left: 0% !important;
        height: 40px !important;
        width: 50px !important;
     }

     #arrow_2{
        margin-top: 0% !important;
        margin-left: 0% !important;
        height: 40px !important;
        width: 50px !important;
     }

     #arrow_3{
        margin-top: 0% !important;
        margin-left: 0% !important;
        height: 40px !important;
        width: 50px !important;
     }

     #arrow_4{
        margin-top: 0% !important;
        margin-left: -3% !important;
        height: 40px !important;
        width: 50px !important;
     }

     #arrow_5{
        margin-top: 0% !important;
        margin-left: 0%!important;
        height: 40px !important;
        width: 50px !important;
     }

    .social-media{
        margin-left: 2%;
        margin-right: 0%;
    }
}
