.font{
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

.navbar{
    margin : 0 !important; 
}

.navbar ul li a{
    color: whitesmoke !important;
}

.navbar ul li a:hover{ 
    color: #58F86F !important;
}

.navbar.change{
    background-color: rgba(255, 255, 255, 0.164);
    transition: all ease .5s;
}

.navbar.change:hover{
   background-color: #000;
}

#logo_brand{
    margin-top: -10px;
    margin-left: 10px; 
    height: 40px;
    width: 40px;
}

#section-1__header{
    padding-top:5%;
	text-align: center; 
	color: whitesmoke;
}

#hr_1{
    text-align: center; 
    width: 22%; 
    color:gray;
}

#section-1__header-2{
    font-size: 20px;
    text-align: center; 
	color: whitesmoke;
}

#Technique{
    color:#58F86F !important;
    background-color: black !important;
}
#Technique_dropdown {
    background-color: black !important; 
}

#Technique_dropdown > li > a{
    color: whitesmoke !important; 
}

#Technique_dropdown > li > a:hover {
    color: #58F86F !important;
    background-color: black !important;  
 }

#Industry {
    color: #0CA8FC !important;
    background-color: black !important;
}

#Industry_dropdown{
    background-color: black !important; 
}

#Industry_dropdown > li > a{
    color: whitesmoke !important; 
}

#Industry_dropdown > li > a:hover {
    color: #0CA8FC !important;
    background-color: black !important;  
 }

#Carousel{
    height: 880px;
    width: 100%;
}
.img_story:hover {
    border: 2px solid #58F86F;
    filter: grayscale(0%);
}

.img_story{
    background-color: #454746;
    margin-top: 40px;
    margin-left: 10%;
    float: left;
    width: 20%;
    height: 360px;
    filter: grayscale(100%);
    transition: 0.5s;
}

.img_story img {
    width: 100%;
    height: 60%;
}

.img_story__label{
    margin-left: 20px;
    margin-top: 10px;
    color: #d9d9d9;
}

.img_story__label__2{
    margin-left: 20px;
    margin-top: 5px;
    color: #d9d9d9;
}

#things_are_coming{
    text-align: center; 
    color:  whitesmoke;
}

#arrow_1{
    margin-top: -5% !important;
    width: 65px !important;
    height: 70px !important;
}

#arrow_2{
    margin-top: -10% !important;
    width: 65px !important;
    height: 70px !important;
}

#arrow_3{
    margin-top: -10% !important;
    width: 65px !important;
    height: 70px !important;
}

#arrow_4{
    margin-top: -5% !important;
    width: 65px !important;
    height: 70px !important;
}

#arrow_5{
    margin-top: -10% !important;
    width: 65px !important;
    height: 70px !important;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
    width:100%;
    height:100%;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  background-attachment: fixed;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.nav-tabs{
    width: 90%;
    margin-left:5%;
}

#img_story_1:hover {
    border: 2px solid #58F86F;
}

#img_story_1{
    background-color: #454746;
    margin-top: 40px;
    margin-left: 195px;
    float: left;
    width: 360px;
    height: 400px;;
}

#img_story_1 img {
    width: 100%;
    height: 60%;
}

#img_1__label{
    margin-left: 30px;
    padding-top: 15px;
    color: #d9d9d9;
}

#img_1__label__2{
    margin-left: 30px;
    padding-top: 10px;
    color: #d9d9d9;
}

#img_story_2:hover {
    border: 2px solid #58F86F;
}

#img_story_2 {
    background-color: #454746;
    margin-top: 40px;
    margin-left: 170px;
    float: left;
    width: 360px;
    height: 400px;
}

#img_story_2 img {
    width: 100%;
    height: 60%;
}

#img_2__label{
    margin-left: 30px;
    padding-top: 15px;
    color: #d9d9d9;
}

#img_2__label__2{
    margin-left: 30px;
    padding-top: 15px;
    color: #d9d9d9;
}

#img_story_3:hover {
    border: 2px solid #58F86F;
}

#img_story_3{
    background-color: #454746;
    margin-left: 195px;
    float: left;
    width: 360px;
    height: 400px;;
}

#img_story_3 img{
    width: 100%;
    height: 60%;
}

#img_3__label{
    margin-left: 30px;
    padding-top: 15px;
    color: #d9d9d9;
 }

#img_3__label__3{
    margin-left: 30px;
    padding-top: 15px;
    color: #d9d9d9;
}

#img_story_4:hover {
    border: 2px solid #58F86F
}

#img_story_4{
    background-color: #454746;
    margin-left: 170px;
    float: left;
    width: 360px;
    height: 400px;
}

#img_story_4 img{
    width: 100%;
    height: 60%;
}

 #img_4__label{
    margin-left: 30px;
    padding-top: 15px;
    color: #d9d9d9;
}

#img_4__label__4{
    margin-left: 30px;
    padding-top: 15px;
    color: #d9d9d9;
}

#img_story_5:hover {
    border: 2px solid #58F86F;
}

#img_story_5 {
    background-color: #454746;
    margin-left: 195px;
    float: left;
    width: 360px;
    height: 400px;;
}

#img_story_5 img {
    width: 100%;
    height: 60%;
}

 #img_5__label{
    margin-left: 30px;
    padding-top: 15px;
    color: #d9d9d9;
 }

 #img_5__label__5{
    margin-left: 30px;
    padding-top: 15px;
    color: #d9d9d9;
}


#section-3_head {
    margin-left: 5%;
    color:whitesmoke;
    margin-top: 10%;
}

#Carousel_2{
    height: 300px;
    margin-top: 4%;
    margin-bottom: 4%;
}

.quotes{
    margin-left: 25%;
    margin-top: 2%;
    font-style: italic;
    color:whitesmoke;
    font-size: 20px;
}

#phrases{
    margin-top: -7%;
    margin-left: 7%;
    text-align: center;
}

#quote{
    width:5%;
    height: 5%;
}

#section-4{
    padding-top: 10%;
    font-size: 32px;
    margin-left: 15%;
    color:whitesmoke;
}

.clients{ 
    height: 120px;  
    width: 350px;     
}

#clients_backend{
    position: relative;
    height: 130px;
    z-index: 2;
}

#clients_backend:after{
    content:'';
    position: absolute;
    top:0px;
    left: 0px;
    width:100%;
    height:100%;
    z-index: -1;
    background-color:#222222;
    border: 1px solid black;
    opacity: 0.8;
}

#list__foooter ul{
    position: relative;
    margin-top:8%;
    width: 100%;
    height: 30%;
    text-align: center;
    list-style-type: none;
    background-color: black;
    color: #f5f5f5 ;
}

.social-media{
    display: inline-block;
    width: 36px;
    height: 36px;
    font-size:23px;
    margin: 0% 0% 0% 0.5%; 
    border: 2px solid #23527c;
    border-radius: 50%;
}

.social-media:hover{
    color: black;
    background: white;
    border: 2px solid black;
}

#footer_rights{
    display: inline-block;
    font-size: 20px;
}

/* Adjust to Cellphone Size (Galaxy S5 , IPhone 6/7/8, IPhone X) */

@media only screen and (max-width: 375px) and (max-height: 812px) {
    #section-1__header{
        font-size:20px;
        margin-top: 10%;
    }

    #hr_1{
        width: 40%; 
    }
    
    .img_story{
        width: 100px;
        margin-left: 2%;
        height: 200px;
    }

    #Carousel{
        height: 530px;
    }

    .item{
        margin-left: 6%;
    }

    .img_story__label{
        font-size: 8px;
        margin-left: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .img_story__label__2{
        font-size: 7px;
        margin-left: 5%;
        margin-top: 2%;
        margin-bottom: 5%;
    }

    #things_are_coming{
        font-size: 20px;
    }

    .glyphicon-chevron-left, .glyphicon-chevron-right{
         font-size: 15px;
     }

     #arrow_1, #arrow_4 {
        margin-left: -5%;
        margin-top: -10% !important;
        height: 40px !important;
        width: 50px !important;
     }

     #arrow_2, #arrow_3{
        margin-left: -5%;
        height: 40px !important;
        width: 50px !important;
     }

     #arrow_5{
        margin-left: -5%;
        margin-top: -15% !important;
        height: 40px !important;
        width: 50px !important;
     }

     .img_story:hover {
        border: 2px solid #58F86F;
        filter: grayscale(0%);
    }

    #section-3_head, #section-4 {
        font-size:20px;
        margin-top: 10%;
    }

    #Carousel_2{
        height: 230px;
    }

    .quotes{
        margin-top: 10%;
        margin-left: 5%;
        font-size: 12px;
        width: 80%;
    }

    #section-4__clients{
        margin-top: -6.5%;
        margin-left: 15%;
    }

    #footer_rights{
        font-size: 8px;
    }

    .social-media{
        margin-left: 2%;
        margin-right: 0%;
        width: 12%;
        height: 10%;
    }
}

/* Adjust to Cellphone Size ( iPhone 5, 5S, 5C and 5SE ) */
@media only screen and (width: 320px) and (height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .img_story{
        width: 85px;
        margin-left: 2%;
        height: 185px;
    }
    
    .img_story__label{
        font-size: 7px;
        margin-left: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
    }


    #arrow_3{
        margin-left: -10%;
        margin-top: -16% !important;
        height: 40px !important;
        width: 50px !important;
     }

     #arrow_5{
        margin-left: -8%;
        margin-top: -20% !important;
        height: 40px !important;
        width: 50px !important;
     }
}

/* Adjust to Cellphone Size (Pixel 2, Pixel 2 XL, IPhone 6/7/8 Plus) */

@media only screen and (min-width: 410px) and (max-width: 415px) and (max-height: 823px) {
    #section-1__header{
        font-size:20px;
        margin-top: 10%;
    }

    #hr_1{
        width: 40%; 
    }
    
    .img_story{
        width: 100px;
        margin-left: 2%;
        height: 200px;
    }

    #Carousel{
        height: 530px;
    }

    .item{
        margin-left: 10%;
    }

    .img_story__label{
        font-size: 8px;
        margin-left: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .img_story__label__2{
        font-size: 7px;
        margin-left: 5%;
        margin-top: 2%;
        margin-bottom: 5%;
    }

    #things_are_coming{
        font-size: 20px;
    }

    .glyphicon-chevron-left, .glyphicon-chevron-right{
         font-size: 15px;
     }

     #arrow_1, #arrow_4 {
        margin-left: -5%;
        margin-top: -10% !important;
        height: 40px !important;
        width: 50px !important;
     }

     #arrow_2, #arrow_3{
        margin-left: -5%;
        height: 40px !important;
        width: 50px !important;
     }

     #arrow_5{
        margin-left: -5%;
        margin-top: -15% !important;
        height: 40px !important;
        width: 50px !important;
     }

     .img_story:hover {
        border: 2px solid #58F86F;
        filter: grayscale(0%);
    }

    #section-3_head, #section-4 {
        font-size:20px;
        margin-top: 10%;
    }

    #Carousel_2{
        height: 230px;
    }

    .quotes{
        margin-top: 10%;
        margin-left: 5%;
        font-size: 12px;
        width: 80%;
    }

    #section-4__clients{
        margin-top: -6.5%;
        margin-left: 15%;
    }

    #footer_rights{
        font-size: 8px;
    }

    .social-media{
        margin-left: 2%;
        margin-right: 0%;
        width: 12%;
        height: 10%;
    }
}


/* Adjust to Ipad Size*/
@media only screen and (min-width : 768px) and (max-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    #section-1__header{
        font-size:22px;
        margin-top: 5%;
    }

    #hr_1{
        width: 20%; 
    }
    
    .img_story{
        width: 200px;
        margin-left: 2%;
        height: 360px;
    }

    #Carousel{
        height: 880px;
        width: 100%;
    }

    .item{
        margin-left: 8%;
    }

    .img_story__label{
        font-size: 14px;
        margin-left: 20px;
        margin-top: 10px;
        color: #d9d9d9;
    }
    
    .img_story__label__2{
        font-size: 12px;
        margin-left: 20px;
        margin-top: 5px;
        color: #d9d9d9;
    }

    #arrow_1, #arrow_2, #arrow_3, #arrow_4{
        margin-top: -5% !important;
        margin-left: 3%;
        height: 50px !important;
        width: 60px !important;
     }

     #arrow_5{
        margin-left: 3%;
        margin-top: -10% !important;
        height: 50px !important;
        width: 60px !important;
     }

     #Carousel_2{
         margin-top: -10%;
        height: 480px;
        width: 100%;
    }

    #Carousel_2 .item{
        margin-top: 20%;
        margin-left: 15%;
    }

    .quotes{
        margin-left: 3%;
        width: 80%;
        font-size: 20px;
    }

    #section-4__clients{
        margin-left: 5%;
        margin-top: -2%;
    }

    #footer_rights{
        font-size: 14px;
    }

    .social-media{
        margin-left: 2%;
        margin-right: 0%;
        width: 5%;
        height: 10%;
    }
}

@media only screen and (min-width: 834px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    .img_story{
        width: 25%;
        height: 430px;
    }

    #Carousel {
        height: 1020px;
    }

    #Carousel .item{
        margin-top: 0%;
        margin-left: 15%;
    }

    .img_story__label{
        font-size: 16px;
        margin-left: 20px;
        margin-top: 10px;
        color: #d9d9d9;
    }
    
    .img_story__label__2{
        font-size: 14px;
        margin-left: 20px;
        margin-top: 5px;
        color: #d9d9d9;
    }

    #arrow_1, #arrow_2, #arrow_3, #arrow_4{
        margin-top: -5% !important;
        margin-left: 3%;
        height: 60px !important;
        width: 70px !important;
     }

     #arrow_5{
        margin-left: 3%;
        margin-top: -10% !important;
        height: 60px !important;
        width: 70px !important;
     }
}

/* Adjust for big screen ( 3200 x 1800) */
@media only screen and (min-width: 1300px) and (min-height: 850px) and (max-width: 3200px) and (max-height: 1800px) {
    #section-1__header{
        padding-top:5%;
        font-size: 62px;
        text-align: center; 
        color: whitesmoke;
    }

    #hr_1{
        text-align: center; 
        width: 14%; 
        color:gray;
    }  
    
    #section-1__header-2{
        font-size: 44px;
        text-align: center; 
        color: whitesmoke;
    }

    #Technique, #Industry{
        font-size: 34px !important; 
    }

    #Technique_dropdown, #Industry_dropdown{
        font-size: 28px !important; 
    }

    #Carousel{
        height: 1400px;
        width: 100%;
    }

    .img_story{
        height: 600px;
        width: 500px;
    }

    .img_story__label{
        font-size: 38px;
    }

    
    .img_story__label__2{
        font-size: 25px;
    }

    #arrow_1, #arrow_2, #arrow_4{
        margin-top: -10% !important;
        margin-left: -5%;
        height: 160px !important;
        width: 170px !important;
     }

    #arrow_3{
        margin-top: -13% !important;
        margin-left: -5%;
        height: 160px !important;
        width: 170px !important;
    }

    #arrow_5{
        margin-left: -5%;
        margin-top: -13% !important;
        height: 160px !important;
        width: 170px !important;
     }

    .carousel-inner > .item{
        margin: auto;
        width: 80%;
    }

    #section-3_head {
        font-size: 62px;
    }

    #Carousel_2{
        height: 600px;
    }
    
    .quotes{
        margin: auto;
        margin-top: 2%;
        font-style: italic;
        color:whitesmoke;
        font-size: 50px;
        width: 65%;
    }
    
    #phrases{
        margin-top: -7%;
        margin-left: 7%;
        text-align: center;
    }
    
    #section-4{
        position: relative;
        font-size: 48px;
        margin-left: 5%;
        color:whitesmoke;
        margin-top: 10%;
    }
    
    .clients{ 
        position: relative;
        margin-top: -5%;  
    }
    
    .social-media{
        width: 46px;
        height: 46px;
        font-size:43px;
    }
    
    #footer_rights{
        font-size: 30px;
    }
}